@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-size: 20px !important;
}


#ir_arriba_boton {
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 25px;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  border-radius: 50%;
  transition: all .2s;
}

#ir_arriba_boton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.log_scroll {
  font-size: 25px;
}


/*ContenidoMeHome-------------------------------------------------------------------------------------------------------*/
.contenedor-typing-todo {
  display: flex;
  min-height: calc(100vh - 96px);
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.efectoTyping {
  font-size: 30px;

  @media(min-width: 640px) {
    font-size: 6rem;
  }

  @media(max-width: 460px) {
    display: none;
  }
}

.typing-fantasma {
  display: none;

  @media(max-width: 460px) {
    display: block;
  }
}

.log_red {
  margin-top: 5px;
  font-size: 28px;
}

.log_red:hover {
  color: rgb(211, 26, 112);
}

.contenedor-typing {
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contenedor {
  justify-content: center;
  align-items: center;
}

/*animacion1-------------------------------------------------------------------------------------------------------*/
.animation {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 45px;
  height: 10px;
  position: absolute;
  animation: infinite;
  animation-name: line;
  animation-duration: 10s;
}

.animation-border {
  margin-top: 40px;
  position: relative;
}

@keyframes line {
  0% {
    background-color: rgba(168, 151, 227);
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: rgba(168, 151, 227);
    left: 180px;
    top: 0px;
  }

  50% {
    background-color: rgba(168, 151, 227);
    left: 0px;
    top: 0px;
  }

  75% {
    background-color: rgba(168, 151, 227);
    left: -180px;
    top: 0px;
  }

  100% {
    background-color: rgba(168, 151, 227);
    left: 0px;
    top: 0px;
  }
}

/*animacion2-------------------------------------------------------------------------------------------------------*/
.animation2 {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 45px;
  height: 10px;
  position: absolute;
  animation: infinite;
  animation-name: line2;
  animation-duration: 10s;
}

.animation-border {
  margin-top: 40px;
  position: relative;
}

@keyframes line2 {
  0% {
    background-color: rgb(211, 26, 112);
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: rgb(211, 26, 112);
    left: 180px;
    top: 0px;
  }

  50% {
    background-color: rgb(211, 26, 112);
    left: 0px;
    top: 0px;
  }

  75% {
    background-color: rgb(211, 26, 112);
    left: -180px;
    top: 0px;
  }

  100% {
    background-color: rgb(211, 26, 112);
    left: 0px;
    top: 0px;
  }
}

/*BarraNavegacion-------------------------------------------------------------------------------------------------------*/
.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 35px;
  height: 4px;
  background-color: #faf8ff;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 96px;
  width: 340px;
  row-gap: 24px;
  right: -340px;
  padding: 24px 16px;
  transition: all 0.3s;
  min-height: calc(100vh - 60px);
}

@media screen and (max-width: 340px) {
  .nav__menu-list.active {
    width: 100%;
  }
}

.nav__menu-list.active {
  right: 0;
  background-color: #faf8ff;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #faf8ff;
}

.nav__menu-list {
  @media(min-width: 768px) {
    background-color: #faf8ff;
  }
}

.burger {
  visibility: hidden;
  display: none;
}

.logo-navbar {
  @media(max-width: 766px) {
    display: none;
  }
}

@media screen and (max-width: 766px) {
  .burger {
    visibility: visible;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: #faf8ff;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}

/*Texto Jobs-------------------------------------------------------------------------------------------------------*/
.contenedor-text-jobs {
  justify-content: center;
  align-items: center;
  background-color: #faf8ff;
}

.text-jobs {
  font-size: 18px;

  @media(min-width: 640px) {
    font-size: 20px;
  }
}

/*skills-------------------------------------------------------------------------------------------------------*/

.box_skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.log_skill {
  font-size: 80px;
  color: rgb(255, 255, 255);
}

.log_skill1:hover {
  color: rgb(255, 87, 51);
  transition: 0.5s;
}

.log_skill2:hover {
  color: rgb(72, 90, 177);
  transition: 0.5s;
}

.log_skill3:hover {
  color: rgb(246, 203, 140);
  transition: 0.5s;
}

.log_skill4:hover {
  color: rgb(202, 80, 15);
  transition: 0.5s;
}

.log_skill5:hover {
  color: rgb(15, 133, 202);
  transition: 0.5s;
}

.log_skill6:hover {
  color: rgb(61, 154, 18);
  transition: 0.5s;
}

.log_skill7:hover {
  color: rgb(207, 72, 72);
  transition: 0.5s;
}

.log_skill8:hover {
  color: rgb(38, 205, 231);
  transition: 0.5s;
}


.text-title {
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
}


/*Portafolio-------------------------------------------------------------------------------------------------------*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.item-1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.item-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.item-3 {
  grid-column: 1;
  grid-row: 2 / 5;
}

.item-4 {
  grid-column: 3;
  grid-row: 3;
}

.item-5 {
  grid-column: 2;
  grid-row: 3 / 5;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media screen and (max-width: 780px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .item-1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .item-2 {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .item-3 {
    grid-column: 1;
    grid-row: 2 / 5;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 3;
  }

  .item-5 {
    grid-column: 2;
    grid-row: 4;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .item-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .item-2 {
    grid-column: 1 / 3;
    grid-row: 5;
  }

  .item-3 {
    grid-column: 1;
    grid-row: 2 / 5;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  .item-5 {
    grid-column: 2;
    grid-row: 2 / 3;

  }
}

.contenedor-port {
  position: relative;
}

.card-link {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  /* Agrega el efecto de blur */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.item:hover .overlay {
  opacity: 1;
}

.card-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
}

.logos_Leng {
  font-size: 40px;
}

.gris {
  filter: grayscale(90%);
}

.text-hobbies {
  font-size: 18px;

  @media(min-width: 640px) {
    font-size: 19px;
  }
}

/*Formulario-------------------------------------------------------------------------------------------------------*/
.btn_cont_form {
  background-color: rgba(168, 151, 227);
  ;
}

.contenedor-form {
  justify-content: center;
  align-items: center;
  display: flex;
}

input:valid,
textarea:valid {
  border-color: #3DF6BF;
}

input:invalid,
textarea:invalid {
  border-color: #f1877b;
}

/*Footer-------------------------------------------------------------------------------------------------------*/
.content-footer {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.bg-footer {
  background-color: #faf8ff;

}

.size-footer {
  font-size: 15px;
}

.text-footer-jonatan {
  font-size: 30px;
}

/*boton dark light*/
.dark-hidden {
  display: block !important;
}

.dark-block {
  display: none !important;
}

.dark .dark-hidden {
  display: none !important;
}

.dark .dark-block {
  display: block !important;
}

.toggle-switch {
  margin-left: 20px;
  position: fixed;
  bottom: 45%;
  display: flex;
  z-index: 1;
}